.image-sequence,
.image-sequence2 {
  width: 30px; /* adjust to your image size */
  height: 30px; /* adjust to your image size */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../imgs/sequence/0.png);
  position: relative;
}

.frame,
.frame2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
