:root {
  --primary-color: #d4af37;
  --primary-hover-color: #c9a12c;
  --bg-color: #ffffff;
  --bg-color2: #1f261e;
  --text-color: #ffffff;
  --dark-text-color: #000000;
  --link-color: #d4af37;
  --link-hover-color: #f4e7c3;
  --hero-bg1: #3e2723;
  --hero-bg2: #4e342e;
  --footer-bg: #1c1c1c;

  --secondary-navbar: #faf8f5;
  --black: #000000;
  --text-theme: #9fa695;
  --text-theme2: #1f261e;

  --theme-color: #e0dfdc;
}
