:root {
  --primary-color: #9fa695;
  --primary-hover-color: #83897a;
  --bg-color: #ffffff;
  --bg-color2: #1f261e;
  --text-color: #ffffff;
  --dark-text-color: #000000;
  --link-color: #9fa695;
  --link-hover-color: #83897a;
  --hero-bg1: #3e2723;
  --hero-bg2: #4e342e;
  --footer-bg: #1c1c1c;

  --secondary-navbar: #faf8f5;
  --black: #000000;
  --text-theme: #9fa695;
  --text-theme2: #1f261e;

  --theme-color: #e0dfdc;
  --footer-text: #bfbfbf;
}
