/* Footer */
footer {
  background-color: var(--bg-color2);
  padding: 1rem;
  color: #fff;
}
.holder {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.holderpart {
  margin: 100px auto 100px auto;
  min-width: 250px;
  max-width: 300px;
}
.holderpart h2 {
  color: var(--text-color);
  font-weight: 400;
  font-size: 25px;
  line-height: 1.28em;
}
.holderpart p {
  color: var(--footer-text);
  font-size: 17px;
  line-height: 1.76471em;
  font-weight: 400;
  margin: 10px auto;
}
.hpart1 {
  max-width: 400px;
}
.quick-links {
  color: var(--text-color) !important;
  font-size: 15px !important;
  font-weight: 580 !important;
  letter-spacing: 0.25em !important;
  line-height: 1.8em !important;
  transition: transform 0.3s ease-in-out;
}
.quick-links:hover {
  transform: translateX(10px);
}
