/* Header */
header {
  background-image: url(../imgs/main-home-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  transition: background-image 0.8s ease-in-out;
}

nav {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Hero section */
.hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero {
  height: 100%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.hero-carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 90%;
  max-width: 1900px;
}
.bullet-container {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Footer */
footer {
  background-color: var(--footer-bg);
  text-align: center;
  padding: 1rem;
  color: #fff;
}
.Home-navbar,
.Secondary-navbar {
  display: none;
}

.svg-left,
.svg-right {
  display: none;
}

.mobile-navbar {
  display: flex;
  background-color: var(--secondary-navbar);
  color: var(--dark-text-color);
}
.navmobile {
  padding: 0 30px;
  height: 84px;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobilemenu {
  display: flex;
}

.logo-mobile {
  font-size: 16px;
  font-weight: 500;
}

.mobile-nav-links {
  display: flex;
  width: 100%;
  max-height: 0; /*hidden by default*/
  overflow: hidden;
  transition: max-height 0.4s ease-out, padding 0.4s ease-out;
  background-color: var(--secondary-navbar);
  list-style: none;
  flex-direction: column;
  gap: 15px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.25em;
  border-top: solid 2px var(--black);
}

.mobile-nav-links li {
  z-index: 2;
  margin-left: 0;
  transition: margin 0.3s ease-in;
}
.mobile-nav-links li:hover {
  margin-left: 10px;
}
.mobile-nav-links li:active {
  margin-left: 10px;
}

.text-dark {
  color: var(--dark-text-color);
  font-weight: 500;
}

/* Media Queries */
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  /* carousel */
  .hero-carousel {
    justify-content: space-between;
  }

  /* svg icons */
  .svg-left {
    display: flex;
    height: 60px;
    width: 60px;
    cursor: pointer;
    transform: scale(1);
    transform-origin: left;
    transition: transform 0.3s ease-in-out, transform-origin 0.3s ease-in-out;
  }

  .svg-left:hover {
    transform: scale(1.1);
    transform-origin: right;
  }

  .svg-right {
    display: flex;
    height: 60px;
    width: 60px;
    cursor: pointer;
    transform: scale(1);
    transform-origin: right;
    transition: transform 0.3s ease-in-out, transform-origin 0.3s ease-in-out;
  }

  .svg-right:hover {
    transform: scale(1.1);
    transform-origin: left;
  }

  /* navbar */
  .mobile-navbar {
    display: none;
  }
  .Home-navbar {
    display: flex;
    color: var(--text-color);
  }
  .Secondary-navbar {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-navbar);
    color: var(--dark-text-color);
    top: -100px;

    transition: top 0.5s ease-in-out;
  }
  .Secondary-navbar.nav-active {
    top: 0px;
  }

  .navtop,
  .navbottom {
    padding: 0 80px;
    height: 84px;
    background-color: transparent;
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.25em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-links li {
    transform: scale(1);
    transition: transform 0.3s ease-in;
  }
  .nav-links li:hover {
    transform: scale(1.1);
  }

  .nav-side-items {
    font-family: "Ibarra Real Nova";
    font-style: italic;
    font-size: 19px;
    display: flex;
    cursor: pointer;
  }

  .navbottom {
    position: relative;
  }
  .navtop {
    border-bottom: 1px solid var(--text-color);
  }

  .search-input,
  .search-button {
    background-color: transparent;
    border: 0 solid transparent;
    border-radius: 100px;
    height: 30px;
    width: 150px;
    color: var(--text-color);
    padding-left: 10px;
  }

  .logo {
    cursor: pointer;
    font-family: "Albert Sans";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25em;
  }

  .burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 0.4rem;
  }

  .burger span {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
  }

  .nav-email,
  .nav-phone {
    margin: 0 0 0 5px;
  }

  /* secondary navbar */
}

@media (hover: none) {
  /* Remove or disable hover styles */
  .nav-links li:hover {
    transform: initial;
  }
  .svg-left:hover {
    transform: initial;
    transform-origin: initial;
  }
  .svg-right:hover {
    transform: initial;
    transform-origin: initial;
  }
}
