/* Basic setup */
.toggle-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--black);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s ease;
}

.dots-container {
  width: 50px;
  height: 50px;
  position: relative;
}

/* Dot positioning */
.dot {
  width: 4px;
  height: 4px;
  background-color: var(--black);
  border-radius: 50%;
  position: absolute;
  transition: all 0.4s ease;
}

.dot1 {
  top: 49%;
  left: 35%;
  width: 13px;
  height: 3px;
  rotate: 45deg;
  border-radius: 100px;
  transform: translate(-50%, -50%);
}
.dot2 {
  top: 35%;
  right: 49%;
  width: 3px;
  height: 13px;
  rotate: 45deg;
  border-radius: 100px;
  transform: translate(50%, -50%);
}
.dot3 {
  bottom: 35%;
  left: 49%;
  width: 3px;
  height: 13px;
  rotate: 45deg;
  border-radius: 100px;
  transform: translate(-50%, 50%);
}
.dot4 {
  bottom: 49%;
  right: 35%;
  width: 13px;
  height: 3px;
  rotate: 45deg;
  border-radius: 100px;
  transform: translate(50%, 50%);
}

/* Hover state - Dots form a cross */
.toggle-btn:hover .dot1,
.toggle-btn:hover .dot2,
.toggle-btn:hover .dot3,
.toggle-btn:hover .dot4 {
  transform: none;
  width: 4px;
  height: 4px;
}
.toggle-btn:hover .dot1 {
  top: 30%;
  left: 30%;
}

.toggle-btn:hover .dot2 {
  top: 30%;
  right: 30%;
}

.toggle-btn:hover .dot3 {
  bottom: 30%;
  left: 30%;
}

.toggle-btn:hover .dot4 {
  bottom: 30%;
  right: 30%;
}

/* Circle shrinks when clicked */
.shrunk-circle {
  width: 0;
  height: 0;
  border-width: 0;
  top: 50%;
  left: 50%;
}

/* Toggled on state: Cross to square */
.toggled .dot1 {
  rotate: 0deg;
  border-radius: 100px;
  top: 30%;
  left: 50%;
  width: 16px;
  transform: translate(-50%, -50%);
}

.toggled .dot2 {
  rotate: 0deg;
  border-radius: 100px;
  top: 50%;
  right: 30%;
  height: 16px;
  transform: translate(50%, -50%);
}

.toggled .dot3 {
  rotate: 0deg;
  border-radius: 100px;
  bottom: 50%;
  left: 30%;
  height: 16px;
  transform: translate(-50%, 50%);
}

.toggled .dot4 {
  rotate: 0deg;
  border-radius: 100px;
  bottom: 30%;
  right: 50%;
  width: 16px;
  transform: translate(50%, 50%);
}

.toggled:hover .dot1 {
  top: 30%;
  left: 30%;
  rotate: -45deg;
  transform: none;
  width: 4px;
  height: 4px;
}
.toggled:hover .dot2 {
  top: 30%;
  right: 30%;
  rotate: -45deg;
  transform: none;
  width: 4px;
  height: 4px;
}
.toggled:hover .dot3 {
  bottom: 30%;
  left: 30%;
  rotate: -45deg;
  transform: none;
  width: 4px;
  height: 4px;
}
.toggled:hover .dot4 {
  bottom: 30%;
  right: 30%;
  rotate: -45deg;
  transform: none;
  width: 4px;
  height: 4px;
}

/* Restore circle when clicked in the toggled state */
.expanded-circle {
  width: 100px;
  height: 100px;
  border-width: 2px;
}
