/* Base resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Albert Sans";
  color: var(--dark-text-color);
  background-color: var(--bg-color);
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Albert Sans";
  color: var(--dark-text-color);
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container.equal {
  justify-content: space-between;
}

.container.vertical {
  flex-direction: column;
}

.col {
  flex: 1;
  margin: 10px;
}

.text-white {
  color: var(--text-color);
}
.text-dark {
  color: var(--dark-text-color);
}
.highlights {
  color: var(--primary-color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* styles */
.btn {
  padding: 25px 25px;
  background-color: transparent;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--text-theme);
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px dotted var(--text-theme);
  border-spacing: 15px;
  border-radius: 50%;
  z-index: 1;
  animation: border-animation 4s linear infinite;
  pointer-events: none; /* Ensures only the button is clickable */
  transform-origin: center;
  transform: rotate(0deg); /* Start from 0 degrees */
}

.btn:hover::after {
  animation-play-state: running; /* Continue the animation when hovered */
}

.btn::after {
  animation-play-state: paused; /* Pause the animation when not hovered */
}

/* Keyframes to rotate the border around the button */
@keyframes border-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btt-btn {
  color: var(--text-theme);
  font-size: 14px;
}

.slider {
  margin: 100px 0 100px 0;
}
.slider-heading {
  font-size: 45px;
  font-weight: 400;
  color: var(--dark-text-color);
}
.slider-p {
  font-family: "Ibarra Real Nova";
  font-style: italic;
}
.slider-paragraph {
  font-size: 18px;
  line-height: 2;
}
@media (max-width: 992px) {
  .moblie-slider {
    flex-direction: column;
  }
}

@media (hover: none) {
  /* Remove or disable hover styles */
  .btn:hover::after {
    animation-play-state: initial;
  }
}
