/* Base resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Albert Sans";
  color: var(--dark-text-color);
  background-color: var(--bg-color);
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Albert Sans";
  color: var(--dark-text-color);
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

section {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 70px; /* Adjust based on your header height */
}

.container {
  width: 80%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.container.equal {
  justify-content: space-between;
}

.container.vertical {
  flex-direction: column;
}

.col {
  flex: 1;
  margin: 10px;
}

.text-white {
  color: var(--text-color);
}
.text-dark {
  color: var(--dark-text-color);
}
.highlights {
  font-family: "Ibarra Real Nova";
  font-style: italic;
  color: var(--primary-color);
  font-weight: 300;
  font-size: 20px;
}
/* styles */
.btn {
  padding: 25px 25px;
  background-color: transparent;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--text-theme);
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px dashed var(--text-theme);
  border-spacing: 15px;
  border-radius: 50%;
  z-index: 1;
  animation: border-animation 4s linear infinite;
  pointer-events: none; /* Ensures only the button is clickable */
  transform-origin: center;
  transform: rotate(0deg); /* Start from 0 degrees */
}

.btn:hover::after {
  animation-play-state: running; /* Continue the animation when hovered */
}

.btn::after {
  animation-play-state: paused; /* Pause the animation when not hovered */
}

.theme-btn {
  margin: 20px 0;
  color: var(--text-color);
  width: 150px;
  height: 50px;
  border: 1px solid var(--text-theme);
  font-family: "Cinzel", serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}

.theme-btn::before,
.theme-btn::after {
  position: absolute;
  background: var(--text-theme2);
  z-index: -1;
  transition: 1s;
  content: "";
}

.theme-btn::before {
  height: 50px;
  width: 130px;
}

.theme-btn::after {
  width: 150px;
  height: 30px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.theme-btn:hover::before {
  width: 0px;
  background: var(--text-theme2);
}

.theme-btn:hover::after {
  height: 0px;
  background: var(--text-theme2);
}

.theme-btn:hover {
  background: var(--text-theme2);
}

.page-content p {
  margin: 20px 0;
}

/* Keyframes to rotate the border around the button */
@keyframes border-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btt-btn {
  color: var(--text-theme);
  font-size: 14px;
  pointer-events: none;
  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}

.slider {
  margin: 100px 0 65px 0;
  display: flex;
  align-content: center;
  justify-content: center;
}
.slider-heading {
  font-size: 45px;
  font-weight: 400;
  color: var(--dark-text-color);
}
.slider-paragraph {
  font-size: 18px;
  line-height: 2;
}

.dotted-line {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1920px;
}
.simple-line {
  position: absolute;
  background-color: var(--black);
  top: 0px;
  left: 0;
  height: 2px;
  width: 0;
  transition: width 2s ease; /* Animate the width smoothly over 2 seconds */
}
.dotted-line-part1 {
  width: 100%;
  height: 2px;
  border-bottom: 2px dashed var(--primary-color);
}
.dotted-line-part1 {
  width: 100%;
  height: 2px;
}
.bullet-container2 {
  margin: 50px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.page {
  flex-direction: row;
}
.page2 {
  margin: 100px auto 100px auto;
}
.page-right {
  background-color: var(--bg-color2);
  width: 50%;
  padding: 150px;
}

.page-right h1,
.page-right p,
.page-left h1,
.page-left p {
  color: var(--text-color);
}

.page-right h1,
.page-left h1 {
  font-size: 45px;
  font-weight: 400;
}

.page-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 960px;
  overflow: hidden;
  padding: 150px;
}
.pageImage1 {
  background: url(../imgs/bridal1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.pageImage2 {
  background: url(../imgs/bridesmaid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.page-left img {
  width: 100%;
  height: fit-content;
}
.op-0 {
  opacity: 0;
}

.headings {
  font-size: 45px;
  font-weight: 400;
}
.team-intro {
  margin: 100px auto 65px auto;
  width: 90%;
  text-align: center;
}
.team,
.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-div {
  width: 100%;
}
.main-div2 {
  border: 2px dashed var(--primary-color);
}
.main-div1,
.main-div3 {
  border-top: 2px dashed var(--primary-color);
  border-bottom: 2px dashed var(--primary-color);
}
.person-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  padding: 75px 0;
}
.person-info img {
  max-width: 100%;
  height: auto;
}
.person-name {
  font-weight: 400;
  color: var(--text-theme2);
  font-size: 30px;
  line-height: 1.2em;
  margin: 25px 0 10px 0;
  word-wrap: break-word;
}
.stats-heading {
  line-height: 1.2em;
  width: 100%;
  max-width: 560px;
}
.stats {
  gap: 20px;
  display: flex;
  flex-direction: row;
  margin: 100px auto;
}
.stats-part {
  width: 50%;
}
.stats-part-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
}
.stat-text-part {
  display: flex;
  justify-content: space-between;
}
.stats-entry p {
  font-size: 20px;
}
.stat-line {
  margin-top: 5px;
}
.process-steps {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 120px 0;
}
.process-item {
  max-width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.process-item p {
  margin: 10px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.process-item-text {
  max-width: 500px;
}
.after-stats-image {
  width: 100%;
  height: 65vh;
  max-height: 650px;
  background: url(../imgs/img-vector-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
@media (max-width: 1920px) {
  .page-right,
  .page-left {
    padding: 300px 150px 150px 150px;
  }
}

@media (max-width: 992px) {
  .moblie-slider {
    flex-direction: column;
  }
  .page {
    flex-direction: column;
  }
  .page-right,
  .page-left {
    width: 100%;
  }
  .person-info {
    padding: 40px 0;
  }
  .process-steps {
    flex-direction: column;
    justify-content: space-around;
  }
  .process-item {
    max-width: 80%;
  }
}
@media (max-width: 768px) {
  .page-right,
  .page-left {
    padding: 150px 30px 150px 30px;
  }
  .team {
    flex-wrap: wrap;
  }
  .main-div {
    border: none;
  }
  .main-div2 {
    border-top: 2px dashed var(--primary-color);
    border-bottom: 2px dashed var(--primary-color);
  }
  .main-div1 {
    border-top: 2px dashed var(--primary-color);
  }
  .main-div3 {
    border-bottom: 2px dashed var(--primary-color);
  }
}

@media (max-width: 1400px) {
  .stats-heading {
    font-size: 35px;
  }
}
@media (max-width: 1200px) {
  .stats {
    flex-direction: column;
  }
  .stats-part {
    width: 100%;
  }
}

@media (hover: none) {
  /* Remove or disable hover styles */
  .btn:hover::after {
    animation-play-state: paused;
  }
}
