.animated-underline {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.animated-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px; /* Thickness of the underline */
  background-color: var(--text-color); /* Color of the underline */
  left: 0;
  bottom: 0;
  transform: scaleX(0); /* Initially hidden */
  transform-origin: right; /* Starts from the right when hiding */
  transition: transform 0.5s ease;
  z-index: 2;
}

.animated-underline:hover::after {
  transform: scaleX(1); /* Fully visible on hover */
  transform-origin: left; /* Grows from left to right */
}
.animated-underline:active::after {
  transform: scaleX(1); /* Fully visible on hover */
  transform-origin: left; /* Grows from left to right */
}

@media (hover: none) {
  /* Remove or disable hover styles */
  .animated-underline:hover::after {
    transform: initial; /* Fully visible on hover */
    transform-origin: initial; /* Grows from left to right */
  }
  .animated-underline:active::after {
    transform: initial; /* Fully visible on hover */
    transform-origin: initial; /* Grows from left to right */
  }
}
