.contact-container{
    background-color: var(--dark-color);
    border-radius: 24px;
    border: solid var(--white-7);
    border-width: 1px;
    padding: 5px;
    width: 100%;
    margin: auto;
    min-height: 380px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contactform {
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-heading {
    padding: 10px 0 0 10px;
}
.main-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
}

/* Input and Textarea Styling */
.contact-container input,
.contact-container textarea {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid var(--white-30);
    background: var(--white-20);
    color: var(--text-color);
    box-shadow: inset 0px 1px 3px var(--shadow-color);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Focus State for Inputs and Textarea */
.contact-container input:focus,
.contact-container textarea:focus {
    border-color: var(--secondary-color);
    /* Highlight border color */
    outline: none;
    /* Remove default outline */
    box-shadow: 0px 0px 8px var(--shadow-color);
    /* Outer shadow for focus effect */
}

/* Button Styling within Contact Form */
.button-group {
    width: 100%;
}
.button {
    display: flex;
    align-items: flex-start;
    background: linear-gradient(135deg, var(--secondary-color), var(--accent-color));
    border: none;
    color: var(--text-color);
    padding: 10px 30px;
    margin: 0 15px 0 15px;
    border-radius: 1000px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Button Hover State */
.contact-container .button-group button:hover {
    background: linear-gradient(135deg, var(--secondary-dark-hover), var(--accent-dark-hover));
    transform: translateY(-5px);
}

/* Button Active State */
.contact-container .button-group button:active {
    background: linear-gradient(135deg, var(--secondary-dark-hover), var(--accent-dark-hover));
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .main-contact {
    flex-direction: column;
    }
}