.faq-container {
  max-width: 700px;
  margin: 0 auto;
}

.faq-item {
  border: 1px solid var(--white-7);
  border-radius: 24px;
  padding: 15px 0;
  margin: 15px 0 15px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
  margin: 0 15px 0 15px;
}

.faq-question .icon {
  font-size: 24px;
  transition: transform 0.3s ease, content 0.3s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, padding 0.4s ease-out;
  padding: 0;
  font-size: 16px;
}

.faq-answer p, .faq-answer li{
  margin: 0 15px 0 15px;
  color: var(--dark-text-color);
}

.rotate-plus {
  transform: rotate(0deg);
}

.rotate-minus {
  transform: rotate(180deg);
}