/* Navbar Starts */
.navbar {
    position: fixed;
    width: 700px;
    height: 60px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 10px;
    z-index: 10;
  }
  
  .glass{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-icon img {
    width: 100px;
    height: 32px;
  }
  
  .navbar-menu {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .navbar-menu li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
  }
  
  .navbar-btn {
    padding: 6px 13px;
    background-color: var(--secondary-color);
    color: var(--dark-text);
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .navbar-btn:hover {
    background-color: var(--secondary-dark-hover);
  }
  .collapse-menu{
    position: fixed;
    top: -100%;
  }
  
  /* Burger Icon Starts */
  .navbar-burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 25px;
    height: 20px;
  }
  
  .navbar-burger span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    transition: transform 0.3s ease, opacity 0.3s ease, top 0.3s ease;
  }
  /* Top line */
  .navbar-burger span:nth-child(1) {
    top: 0;
  }
  
/* Middle line */
.navbar-burger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Bottom line */
  .navbar-burger span:nth-child(3) {
    top: 100%;
    transform: translateY(-100%);
  }
  
  /* Cross (Close) Icon State */
  .navbar-burger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }
  
  .navbar-burger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .navbar-burger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }
  /* Burger Icon Ends */
  /* NavBar Ends */
  
  /* Hero Section */
  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    background-color: var(--primary-color);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
  }
  
  .hero-content {
    max-width: 768px;
    margin: auto;
    margin-top: 250px;
    text-align: center;
    color: var(--text-color);
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }
  
  .hero p {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  /* Hero Section Ends*/