@media (min-width: 768px) {
  #navcol-3 {
    background: rgba(51,51,51,0);
  }
}

@media (max-width: 765px) {
  #navcol-3 {
    text-align: left;
    margin-left: 130px;
    padding-bottom: 1200px;
    padding-left: 10px;
    background: rgb(51,51,51);
  }
}

#close {
  position: absolute;
  margin-left: 11px;
}

#bars {
  margin-left: 8px;
}

.navbar-toggler {
  display: flex;
}

@media (min-width: 768px) {
  .row {
  }
}

@media (max-width: 360px) {
  .row {
    width: auto;
    text-align: center;
  }
}

@media (max-width: 576px) {
  #Hero-Heading {
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 768px) {
  #Hero-Heading {
    text-align: left;
    width: 50%;
  }
}

#Product-part1 {
  display: flex;
}

#in-stock-status {
  position: absolute;
  margin-top: 10px;
  color: #ffffff;
  border-radius: 6px;
  width: 200px;
  text-align: right;
}

@media (max-width: 576px) {
  #Featured-Products {
    display: block;
    width: 100%;
  }
}

@media (min-width: 992px) {
  #Featured-Products {
    display: flex;
    width: 100%;
  }
}

#product-container {
  display: flex;
}

@media (min-width: 992px) {
  .row > * {
    width: 25%;
  }
}

@media (max-width: 500px) {
  .row > * {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .row > * {
    width: 33%;
  }
}

@media (min-width: 500px) and (max-width: 766px) {
  .row > * {
    flex-shrink: 0;
    width: 50%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
  }
}

